/target
C:\Users\baarr\OneDrive\Bureau\Java\Project 4\ersbaarrOneDriveBureauJavaProject 4'; & 'CUsersbaarrAppDataLocalProgramsEclipse Adoptiumjdk-17.0.4.101-hotspotbinjava.exe' '@CUsersbaarrAppDataLocalTempcp_3dbublinv6qj4aqgig5pggl7g.argfile' 'com.project4.classTest' 
ewqw.txt